@model Web.Models.Financeiro

@{
    ViewData["Title"] = "Detalhes";
}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazenda Urbana</title>
    <style>
        body {
            background-color: #ffffff;
            margin: 0 10%;
            font-family: sans-serif;
        }

        h1 {
            text-align: center;
            font-family: serif;
            font-weight: normal;
            text-transform: uppercase;
            border-bottom: 1px solid #000000;
            margin-top: 30px;
        }

        h2 {
            color: #000000;
            font-size: 1em;
        }
    </style>
</head>

<h1>Detalhes</h1>

<div>
    <h4>Financeiro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDespesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDespesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLucro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorLucro)
        </dd>
    </dl>
</div>
<div>
    <!--<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>--> |
    <a asp-action="Index">Back to List</a>
</div>
