@model IEnumerable<Web.Models.Financeiro>

@{
    ViewData["Title"] = "Financeiro";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazenda Urbana</title>
    <style>
        body {
            background-color: #dbead5;
            margin: 0 10%;
            font-family: sans-serif;
        }

        h1 {
            text-align: center;
            font-family: serif;
            font-weight: normal;
            text-transform: uppercase;
            border-bottom: 1px solid #57b1dc;
            margin-top: 30px;
        }

        h2 {
            color: #470000;
            font-size: 1em;
        }
    </style>
</head>

<h1>Financeiro</h1>

<!--<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDespesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorLucro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDespesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorLucro)
            </td>
            <td>
             <!--<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>--> |
             <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
             <!--<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
