@model IEnumerable<Web.Models.Estoque>

@{
    ViewData["Title"] = "Estoque";
}

<h1>Estoque</h1>

<!--<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DColheita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DRegistroProducao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimativaProducao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorNutritivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DColheita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DRegistroProducao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimativaProducao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorNutritivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                    <!--<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>--> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <!--<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
