@model IEnumerable<Web.Models.Estoque>

@{
    ViewData["Title"] = "Estoque";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazenda Urbana</title>
    <style>
        body {
            background-color: #dbead5;
            margin: 0 10%;
            font-family: sans-serif;
        }

        h1 {
            text-align: center;
            font-family: serif;
            font-weight: normal;
            text-transform: uppercase;
            border-bottom: 1px solid #57b1dc;
            margin-top: 30px;
        }

        h2 {
            color: #470000;
            font-size: 1em;
        }
    </style>
</head>

<h1>Estoque</h1>

<!--<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DColheita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DRegistroProducao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimativaProducao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorNutritivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DColheita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DRegistroProducao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimativaProducao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorNutritivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                    <!--<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>--> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <!--<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
